/*nächstes mal übersichtlicher gestalten, man kann auch mehrere Sachen auf einmal verändern*/
body {
    z-index: 1;
}

#HauptÜberschrift {
    background-color: red;
    margin-top: 0px;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 0px; /*freier Abstand zum Text darunter*/
}

.MartiTextBody {
    background-color: #000000;
    color: white;
    border-style: solid;
    border-width: 1px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

#div2 {
    background-color: rgb(33, 175, 33);
    color: black;
    border-style: solid;
    border-width: 1px;
    height: 20px;
}

.NebenÜberschrift {
    background-color: slateblue;
    margin-top: 0px;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 0px; 
}

.NebenÜberschrift2 {
    width: 720px;
    background-color: rgb(150, 139, 224);
    border-style: solid;
    border-width: 2px;
}

#rund {
    width: 530px;
    height: 30%;
    border-radius: 5px;
}

#sideBar {
    position: fixed;
    background-color: rgb(49, 49, 49);
    color: white;
    display: none;
    float: left;
    height: 110%;
    width: 240px;
    z-index: 12;
    top: -10px;
    left: -30px;
}

.sideBarTextBox {
    border-style: solid;
    border-color: white;
    background-color: yellow;
    border-width: 1px;
    height: 55px;
    width: 120px;
}

.sideBarTextBox:hover {
    width: 130px;
    height: 60px;
}

.Profil {
    background-color: white;
    color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    position: relative;
    left: 580;
    width: 700px;
}

.MainBodyMusic {
    margin-left: 277px;
    margin-right: 278px;
    border-style: solid;
    border-width: 1px;
}

.section {
    width: 799px;
    height: 666px; /*666 Die Zahl des Teufels, Bill Gates steckt hinter dieser Website!!1!*/
    border-style: solid;
    border-width: 1px;
    float: left;
}

.section1 {
    width: 799px;
    height: 666px; /*666 Die Zahl des Teufels, Bill Gates steckt hinter dieser Website!!1!*/
    border-style: solid;
    border-width: 1px;
    float: left;
}

.KleinerText {
    width: 799px;
    height: 339px;
    float: left;
    border-style: solid;
    border-width: 1px;
    display: flex;
}

.aside {
    width:  528px;
    height: 666px;
    border-top: solid;
    border-left: solid;
    border-width: 1px;
    float: right;
}

.KleinesBild {
    width: 528px;
    height: 339px;
    border-top: solid;
    border-left: solid;
    border-width: 1px;
    float: right;
}

.Musikfooter {
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    clear: both;
}

.TextMittePositionieren {
    position: relative;
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 20%;
    margin-right: 20%;
}

.TextMittePositionieren1 {
    position: relative;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.kleinerTextMittePositionieren {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.MitteMusikBild {
    margin-top: 4%;
}

.MittekleinesMusikBild {
    margin-left: 15%;
}

#Meme {  
    display: none;
    width: 1800px;
    height: 2530px;
    border-style: solid;
    border-color: #1ed760;
    border-width: 1px;
}

.DarkModeBody {
    background-color: #000000;
    color: white;
}

.GamingText {
    border-style: solid;
    border-width: 1px;
    background-color: #000000;
    color: white;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    opacity: 0.7; /*Transparenz*/
}

.MemesHeader {
    border-style: solid;
    background-color: rgb(151, 151, 151); 
    border-width: 1px;
    margin-bottom: 20px;
}

.Memes1 { /*Bild links*/
    width: 600px;
    height: 600px;
    float: left;
}

.Memes2 { /*Bild mitte*/
    width: 600px;
    height: 600px;
    float: left; /*das ergibt irgendwie keinen sinn für mich, aber es klappt so wie ich es will.*/
}

.Memes3 { /*Bild rechts*/
    width: 600px;
    height: 600px;
    float: right;
}

.Memes4 { /*Bild mitte, Um ein Bild weiter mittig zu platzieren*/
    margin-top: 100px;
    width: 600px;
    height: 500px;
    float: left; 
}

.Likes {
    width: 1800px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    position: relative;
    display: flex;
    background-color: rgb(151, 151, 151);
}

#LikesPic1 {
    font-size: 32px;
    position: relative;
    left: 70px;
}

.Upvoten {
    position: absolute;
    background-color: green;
    width: 40px;
    height: 40px;
    left: 10px;
}

.Downvoten {
    position: absolute;
    background-color: red;
    width: 40px;
    height: 40px;
    left: 110px;
}

.Upvoten:hover {
    height: 45px;
    width: 45px;
}

.Downvoten:hover {
    height: 45px;
    width: 45px;
}

#Rexan {
    background-color: green;
}

#Rexan::selection { /*nicht relevant für website, aber interessant*/
    background-color: blueviolet;
}

#a1 {
    position: absolute;
    right: 1200;
}

#a2 {
    position: absolute;
    right: 650;
    top: 8px;
}

.LakeBody {
    background-image:url(Pictures/LakeHorizon.jpg);
}

.LakeBody1 {
    background-image:url(Pictures/LakeHorizon.jpg);
}

.TextBody {
    border-style: solid;
    border-width: 1px;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 200px;
    margin-right: 200px;
}

.Blog {
    margin-left: 300px;
    margin-right: 300px;
}

.Links {
    float: left;
}

.Rechts {
    float: right;
}

.NewState {
    color: white;
    background-color: #313131;
    border-style: solid;
    border-width: 1px;
    font-size: 17px;
}

.NewPost {
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    background-color: #313131;
    color: white;
}

.NewPostDatum {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.NewPostTitle {
    width: 500px;
    margin-left: 10px;
    float: left;
}

.NewPostPicture {
    height: 400px;
    width: 500px;
    position: relative;
    left: 100px;
}

.NewPostText {
    width: 600px;
    margin-left: 10px;
    float: left;
}

.OldState {
    color: white;
    background-color: #313131;
    border-style: solid;
    border-width: 1px;
}

.OldPost {
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    width: 640px;
    margin-top: 15px;
    background-color: #313131;
    color: white;
}

.OldPostDatum {
    margin-top: 10px;
    margin-left: 10px;
}

.OldPostTitle {
    width: 290px;
    font-size: 17px;
    margin-left: 10px;

}

.OldPostText {
    width: 290px;
    margin-left: 10px;
}

.OldPostPicture {
    position: relative;
    height: 300px;
    width: 330px;
    left: 10px;
}

.Post {
    width: 1279px;
    margin-left: 300px;
    margin-right: 300px;
    border-style: solid;
    border-width: 1px;
}

.PostDatum {
    margin-top: 10px;
    margin-left: 10px;
}

.PostTitle {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.PostTitle > b {
    font-size: 20px;
}

.PostImage {
    width: 1279px;
    height: 550px;
}

.PostText {
    margin: 10px;
}

.loader {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: white;
    justify-content: center;  /*Position mitte*/
    align-items: center;
}

.loader > img {
    width: 120px;
}

.slideContainer {
    width: 600px;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
}

.Slide {
    display: flex;
    width: 600px;
    height: 800px;
}

.Slide > img {
    width: 600px;
}

#Question{
    position: fixed;
    background-color: #000000;
    z-index: 11;
    width: 100%;
    height: 100%;
}

.Input{
    position: relative;
    display: flex;
    justify-content: center;  /*Position mitte*/
    align-items: center;
    top: 32%;
}

#Question input{
    height: 30px;
}

.Done{
    position: relative;
    top: 32%;
    left: 48.5%;
    border-style: solid;
    border-width: 1px;
    width: 46px;
    padding: 5px;
}

.Done a{
    text-decoration: none;
    color: blue;
}

#Question .centerQuestion{
    position: relative;
    top: 30%;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 20%;
    font-size: 30px;
    color: white;
    background-color: #000000;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 20%;
    font-size: 30px;
    color: white;
    background-color: #000000;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(33, 175, 33);
    color: black;
    border-style: solid;
    border-width: 1px;
    height: 30px;
}

.LeftText{
    margin-left: 10px;
    margin-right: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.logo {
    color: rgba(255, 255, 255, 0.918);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: "Permanent Marker", cursive;
}

.nav-links a.menu {
    font-size: 18px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none; /*Entfernung der List Punkte!!!!*/
}

.nav-links a {
    color: rgba(255, 255, 255, 0.918);
    text-decoration: none; /*nicht unterstrichen*/
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav {
    display: none;
}

.GamingBody{
    background: url(Pictures/battlefieldV2.png);
}


/*So gut wie alles unter diesem Kommentar ist nicht von mir selbst!*/

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.social-menu ul {
    position: absolute;
    top: 270px;
    height: 500px;
    left: 50%;
    padding: 0;
    margin: 0;
    margin-top: 100px; /*Abstand zur Überschrift*/
    transform: translate(-50%, -50%);
    /*display: flex; (seitlich)*/
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #1ed760;
}

.social-menu ul li:nth-child(5) a:hover {
    background-color: #FF5700;
}

.social-menu ul li:nth-child(6) a:hover {
    background-color: #6441a5;
}

.social-menu ul li:nth-child(7) a:hover {
    background-color: #F48024;
}

.social-menu ul li:nth-child(8) a:hover {
    background-color: #000000;
}

/*Alles unter diesem Kommentar ist selbst erstellt*/

@media screen and (max-width:1800px){
    .MainBodyMusic{
        margin-left: 34px;
        margin-right: 34px
    }
}

@media screen and (max-width:1433px){
    .Profil{
        left: 350px;
    }
    .MainBodyMusic{
        margin-left: 0px;
        margin-right: 0px
    }
    .GamingText{
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media screen and (max-width:1360px){
    .GamingText{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width:1260px){
    .TextBody{
        margin-left: 150px;
        margin-right: 150px;
    }
    .Profil{
        width: 750px;
        left: 200px;
    }
    .Profil img{
        width: 750px;
    }
    .GamingText{
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width:1100px){
    .GamingText{
        margin-left: 50px;
        margin-right: 50px;
    }
    .section {
        height: auto;
        width: auto;
    }
    .TextMittePositionieren1{
        margin-top: 150px;
        margin-left: 50px;
    }
    .KleinerText{
        width: auto;
        height: auto;
    }
    .kleinerTextMittePositionieren{
        margin-top: 70px;
        margin-left: 50px;
        margin-bottom: 70px;
    }
    .section1{
        width: auto;
        height: auto;
    }
    .TextMittePositionieren{
        margin-top: 200px;
        margin-left: 100px;
    }
    .aside{
        float: left;
        width: auto;
        height: auto;
    }
    .aside img{
        position: relative;
        margin-top: 0px;
        left: 8%;
        width: 765px;
    }
    .KleinesBild{
        width: auto;
        float: left;
    }
    .MittekleinesMusikBild{
        position: relative;
        left: 280px;
    }
    .NewPostPicture{
        margin-top: 10px;
        left: 10px;
        width: 70%;
        height: 55%;
    }
    #prevBtn{
        z-index: 1;
        top: 42%;
        left: 10%;
    }
    #nextBtn{
        top: 42%;
        right: 10%;
    }
    #Meme{
        max-width: 964px;
        height: 7765px;
    }
    .likes{
        max-width: 964px;
    }
    .Memes1{
        float: left;
        margin-left: 20%;
        margin-top: 40px;
    }
    .Memes2{
        float: left;
        margin-left: 20%;
        margin-top: 40px;
    }
    .Memes3{
        float: left;
        margin-left: 20%;
        margin-top: 40px;
    }
    .Memes4{
        margin-left: 20%;
    }
    .Done{
        left: 46%;
    }
    .Post{
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
    }
    .PostImage{
        width: 963px;
    }
    .social-menu ul{
        color: white;
    }
    .sideBarTextBox{
        height: 45px;
        width: 100px;
    }
    .sideBarTextBox:hover{
        height: 50px;
        width: 115px;
    }
    h3{
        margin-top: 12px;
    }
}

@media screen and (max-width:1024px){
    .nav-links {
        width: 50%;
    }
    .TextBody{
        margin-left: 100px;
        margin-right: 100px;
    }
    .Profil{
        left: 100px;
    }
}

@media screen and (max-width:980px){
    .GamingText{
        opacity: 1;
        background-color: rgb(27, 139, 27);
    }
    .GamingBody{
        background-image: none;
        background-color: #000000;
    }
    .LakeBody{
        background-image: none;
        background-color: #000000;
    }
    .LakeBody1{
        background-image: none;
        background-color: #313131;
    }
    .TextBody{
        background-color: rgb(27, 139, 27);
    }
    .Blog{
        margin-left: 0px;
        margin-right: 0px;
    }
    .Rechts{
        float: left;
    }
    #prevBtn{
        top: 40%;
    }
    #nextBtn{
        top: 40%;
    }
}

@media screen and (max-width:886px){
    .aside{
        float: left;
        height: auto;
    }
    .aside img{
        left: 3%;
    }
    .MitteMusikBild{
        margin-top: 0px;
    }
    .KleinesBild img{
        position: relative;
        left: 180px;
    }
}

@media screen and (max-width:800px){
    .links {
        display: none;
    }
    .nav {
        display: block;
    }
    .TextBody{
        margin-left: 0px;
        margin-right: 0px;
    }
    .Profil{
        left: 0px;
    }
    .section {
        width: auto;
        height: auto;
    }
    .section1{
        width: auto;
        height: auto;
    }
    .KleinerText{
        width: auto;
        height: auto;
    }
    .TextMittePositionieren1{
        margin-top: 50px;
    }
    .KleinesBild img{
        position: relative;
        left: 150px;
    }
    .aside{
        float: unset;
        height: auto;
        left: unset;
        right: unset;
    }
    .aside img{
        float: unset;
        position: relative;
        margin-left: 20%;
        margin-right: auto;
        left: unset;
        right: unset;
        width: auto;
    }
    .MitteMusikBild{
        margin-top: 0px;
    }
}